.wrapper{
  position: relative;
  .input{
    width: 100%;
    height: 52px;
  }
  .placeholderBlur{
    position: absolute;
    top: 50%; /* 相对于wrapper的顶部定位到50% */  
    transform: translateY(-50%); /* 向上移动自身高度的一半，以实现垂直居中 */
    font-size: 16px;
    left: 10px;
    color: #BDBDBD;
    pointer-events: none; // 让placeholder不响应点击事件
  }
}


